@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Arapey:400,400italic);
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #222;
}
h1, h2, h3{
    font-family: 'Open Sans',sans-serif;
}
h1{
    font-size: 2.5em;
    font-weight: 300;
}
h2{
    font-size: 2em;
    font-weight: 700;
}
h6{
    font-family: 'Arapey',serif;
}
p{
    font-family: 'Arapey',serif;
    font-size: 1.4em;
}
#page{
    margin: 0 auto;
    background-color: #e0e0e0;
    max-width: 1200px;
}

header{
    display: block;
    width: 100%;
}
#navigation{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.2rem;
    color: #333;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 10000;
    top: -240px;
    -webkit-transition: top 1s ease-in;
    transition: top 1s ease-in;
}
@media screen and (min-width: 30em){
    #navigation{
        top: 0;
        font-size: 1em;
    }
}
#navigation:hover{
    top: 0px;
}
#navigation .sandwich{
    display: block;
    background-color: rgba(255,255,255,0.7);
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
}
@media screen and (min-width: 30em){
    #navigation .sandwich{
        visibility: hidden;
    }
}
#navigation ul{
    padding-left: 0;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    background-color: rgba(255,255,255,0.7);
    border-radius: 0 0 5px 5px;
}
@media screen and (min-width: 30em){
    #navigation ul{
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
        width: 100%;
        border-radius: 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    }
}
#navigation li{
    letter-spacing: 2px;
    list-style: none;
    padding: 2px 30px;
    margin: 4px;
    border-radius: 2px;
    text-align: left;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
@media screen and (min-width: 30em){
    #navigation li{
        font-size: 0.9em;
        letter-spacing: 0px;
        padding: 10px 10px 0 0;
    }
}
#navigation li::after{
    content: '';
    display: block;
    width: 0;
    margin-top: 3px;
    height: 2px;
    background-color: transparent;
    -webkit-transition: background-color 0.5s, width 0.5s;
    transition: background-color 0.5s, width 0.5s;
}
#navigation li:hover:after{
    content: '';
    display: block;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(255,255,255,0.4);
    background-color: #fff;
}
#navigation a{
    display: block;
    text-decoration: none;
    color: #333;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}
@media screen and (min-width: 30em){
    #navigation a{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
#navigation a:hover{
    color: #fff;
    text-shadow: 0px 0px 4px rgba(255,255,255,0.4);
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
}
@media screen and (min-width: 30em){
    #navigation a:hover{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
#navigation li i{
    font-size: 140%;
    margin-right: 20px;
    width: 30px;
}
@media screen and (min-width: 30em){
    #navigation li i{
        font-size: 2em;
        text-align: right;
        width: 30px;
        margin-right: 8px;
    }
}
.hero{
    width: 100%;
    height: 100vh;
    background: url(../images/dl-newyork.jpg) center bottom no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.hero h2{
    font-family: 'Arapey', serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1em;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
@media screen and (min-width: 30em){
    .hero h2{
        font-size: 1.6em;
    }
}
.hero h2>span{
    letter-spacing: 0px;
}
.hero .titre{
    width: 70%;
}
.hero .path{
    fill: black;
    fill-opacity: 0.6;
    stroke: white;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    -webkit-animation: draw 10s linear forwards;
            animation: draw 10s linear forwards;
}
@keyframes draw{
    to{
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes draw{
    to{
        stroke-dashoffset: 0;
    }
}
.solution-cards{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.solution-cards h2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.solution-cards .card{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 18em;
        -ms-flex: 1 0 18em;
            flex: 1 0 18em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
}
.solution-cards .card p{
    font-size: 1.2em;
}
.solution-cards .card .circ-div{
    height: 7em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #f0f0f0;
    background: url(../images/svg/circle-divider.svg) repeat-x;
    background-position: bottom center;
    background-size: cover;
}
.solution-cards .card .circ-div i{
    font-size: 5em;
    color: rgba(255,255,255,0.7);
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}
.solution-cards .card .challenge{
    color: white;
    padding: 0 20px;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
}
.solution-cards .card .challenge h3{
    letter-spacing: 3px;
    line-height: 180%;
    margin-bottom: 1.4em;
    margin-top: 1.5em;
}
.solution-cards .card .challenge p{
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 2em;
}
.solution-cards .card .solution{
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    color: black;
    background: -webkit-linear-gradient( top, rgba(255,255,255,0.8), rgba(255,255,255,0.5));
    background: linear-gradient( to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.5));
    padding: 20px;
    font-style: normal;
    text-shadow: 0px 0px 3px rgba(255, 255, 0, 0.5);
}
.solution-cards .card .solution p{
    line-height: 180%;
    font-size: 1em;
}


#notre-aproche{
    background-color: #f0f0f0;
    padding: 60px 10px;
}


#notre-aproche h1{
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 30px;
}


#notre-aproche h2{
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
}


#notre-aproche .aside-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}


#notre-aproche .aside-left{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    padding: 10px;
}


#notre-aproche .aside-right{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    padding: 10px;
}


#notre-aproche p{
    font-size: 1em;
    line-height: 180%;
    padding: 16px 0;
}


@media{
    #notre-aproche h1{
        font-size: 3em;
    }
}


@media screen and (min-width: 30em){
    #notre-aproche .aside-container{
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
    }
}


@media screen and (min-width: 30em){
    #notre-aproche .aside-left{
        text-align: right;
        padding-right: 30px;
        border-right: #000 1px dotted;
    }
}


@media screen and (min-width: 30em){
    #notre-aproche .aside-right{
        padding-left: 30px;
    }
}


@media screen and (min-width: 30em){
    #notre-aproche p{
        font-size: 1.4em;
    }
}
#facilitateur{
    background-color: #56667a;
    padding-bottom: 60px;
}
#facilitateur h1{
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
#facilitateur h2{
    font-weight: 400;
}
#facilitateur header{
    background: -webkit-linear-gradient( top, transparent, #56667a), url('../images/metrogirl.jpg');
    background: linear-gradient( to bottom, transparent, #56667a), url('../images/metrogirl.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#facilitateur header h1{
    padding-top: 60px;
}
#facilitateur header .header-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 60px;
}
#facilitateur header .header-content h6{
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 15em;
        -ms-flex: 1 0 15em;
            flex: 1 0 15em;
    color: white;
    font-size: 1.3em;
    line-height: 140%;
    letter-spacing: 1px;
    margin: 20px;
    padding: 20px;
    border: white 1px solid;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
#facilitateur header .header-content h6 i{
    float: left;
    font-size: 3em;
    text-align: center;
    margin: 0 20px 5px 0;
    padding: 12px 10px 8px 10px;
}
#facilitateur header .header-content .etapes{
    padding: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 15em;
        -ms-flex: 1 0 15em;
            flex: 1 0 15em;
}
#facilitateur header .header-content .etapes h3{
    color: white;
    margin-bottom: 1em;
}
#facilitateur header .header-content .etapes p{
    color: white;
    font-size: 1.2em;
    font-style: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    letter-spacing: 1px;
}
#facilitateur header .header-content .etapes i{
    font-size: 1.2em;
    min-width: 30px;
}
#catalyseur{
    padding-bottom: 60px;
    background-color: #333;
}
#catalyseur h1{
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
#catalyseur h2{
    font-weight: 400;
}
#catalyseur header{
    background: -webkit-linear-gradient( top, transparent, #333), url('../images/comanymeeting.jpg');
    background: linear-gradient( to bottom, transparent, #333), url('../images/comanymeeting.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
}
#catalyseur .header-content{
    color: white;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
    padding: 30px;
}
#catalyseur .header-content p{
    line-height: 180%;
    margin-bottom: 1em;
}
#node-js{
    background: -webkit-radial-gradient(#bfc388,#7c8a6f);
    background: radial-gradient(#bfc388,#7c8a6f);
    padding: 60px 0;
}
#node-js h1{
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
#node-js a{
    background-color: rgba(0,0,0,0.5);
    border-radius: 3em;
    padding: 12px;
    text-align: center;
    margin-right: 10px;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
#node-js a:hover{
    box-shadow: 0px 0px 3px rgba(255,255,255,0.8);
}
#node-js i{
    color: white;
    margin: 6px 2px;
}
#node-js .contenu{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
}
#node-js .contenu aside{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding-left: 20px;
    padding-top: 2em;
    margin-top: 2em;
    border-left: none;
    border-top: white 1px dotted;
}
#node-js .contenu img{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
#node-js .contenu p{
    color: white;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
    line-height: 180%;
    margin-bottom: 1em;
}
@media screen and (min-width: 30em){
    #node-js .contenu{
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
    }
}
@media screen and (min-width: 30em){
    #node-js .contenu aside{
        border-left: white 1px dotted;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }
}
#contact{
    background: -webkit-linear-gradient( top, transparent, #56667a), url('../images/dl_bastille.jpg');
    background: linear-gradient( to bottom, transparent, #56667a), url('../images/dl_bastille.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    max-width: 1200px;
    color: black;
    padding-bottom: 30px;
}
#contact h1{
    text-align: center;
    padding-top: 60px;
}
#contact .contact-contain{
    margin: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
}
#contact .contact-form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-bottom: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
#contact .contact-form h2{
    color: white;
    font-size: 1.6em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
    padding-bottom: 20px;
}
#contact .contact-form h2:before{
    content: '';
    display: inline-table;
    background-color: white;
    height: 2px;
    width: 40px;
    margin-right: 10px;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
#contact .contact-form h2:after{
    content: '';
    display: inline-table;
    background-color: white;
    height: 2px;
    width: 40px;
    margin-left: 10px;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
#contact .contact-form p{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
#contact .contact-form span{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    margin-right: 20px;
    letter-spacing: 1px;
}
#contact .contact-form input{
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: 'Arapey',serif;
    background-color: transparent;
    border: none;
    font-size: 1.1em;
    padding: 10px 0;
    background-color: rgba(255,255,255,0.1);
    margin: 4px;
    padding-left: 4px;
    text-shadow: 0px 0px 3px rgba(255,255,255,0.8);
}
#contact .contact-form input:hover{
    background-color: rgba(255,255,255,0.3);
}
#contact .contact-form textarea{
    background-color: rgba(255,255,255,0.1);
    border: none;
    font-family: 'Arapey',serif;
    font-size: 1.4em;
    margin: 4px;
    padding: 4px;
    font-size: 1.1em;
    text-shadow: 0px 0px 3px rgba(255,255,255,0.8);
}
#contact .contact-form a{
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    display: inline-table;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3em;
    padding: 12px 20px;
    text-align: center;
    margin: 10px 0;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
#contact .contact-form a:hover{
    box-shadow: 0px 0px 3px rgba(255,255,255,0.8);
}
#contact .contact-location{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: white 1px dotted;
    padding: 10px;
    margin-top: 30px;
}
#contact .contact-adresse{
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
#contact .contact-adresse a{
    background-color: rgba(0,0,0,0.5);
    border-radius: 3em;
    padding: 12px;
    text-align: center;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
#contact .contact-adresse a:hover{
    box-shadow: 0px 0px 3px rgba(255,255,255,0.8);
}
#contact #map{
    width: 100%;
    height: 60vh;
    opacity: 0.8;
    border: rgba(0,0,0,0.3) 2px solid;
}
@media screen and (min-width: 45em){
    #contact .contact-contain{
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start;
    }
}
@media screen and (min-width: 45em){
    #contact .contact-location{
        border: none;
        border-left: white 1px dotted;
        margin: 0;
        margin-left: 10px;
    }
}
#footer{
    background-color: #333;
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#footer a{
    color: black;
    padding: 5px 8px;
    border-radius: 50px;
    margin-right: 5px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
#footer a:hover{
    text-shadow: 0px 0px 3px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 3px rgba(255,255,255,0.8);
}
